
<mat-toolbar>
    
    <span class="example-spacer"></span>
    <img src="{{user?.avatar}}" class="avatar">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <span>Salir</span>
      </button>

    </mat-menu>
  </mat-toolbar>
  <app-productos></app-productos>